/* color palette from <https://github.com/vuejs/theme> */
:root {
  --grey-100: #141414;
  --grey-90: #191919;
  --grey-80: #1E1E1E;
  --grey-70: #232323;
  --grey-60: #282828;
  --grey-50: #2D2D2D;
  --grey-40: #323232;
  --grey-30: #373737;
  --grey-20: #3C3C3C;
  --grey-10: #414141;

  --white-100: rgba(255, 255, 255, 1);
  --white-56: rgba(255, 255, 255, 0.56);
  --white-32: rgba(255, 255, 255, 0.32);

  --black-40: rgba(0, 0, 0, 0.4);

}

/* semantic color variables for this project */
:root {
  --color-background: var(--grey-100);
  --color-border: var(--grey-60);
  --color-icon: var(--white-100);

  --color-text-main: var(--white-100);
  --color-text-secondary: var(--white-56);
  --color-text-tertiary: var(--white-32);

  --color-dim: var(--black-40);

  --color-input-inactive: var(--grey-80);
  --color-input-active: var(--grey-60);

  --color-button-primary-default: var(--grey-60);
  --color-button-primary-hover: var(--grey-50);
  --color-button-primary-active: var(--grey-40);

  --color-button-secondary-default: var(--grey-100);
  --color-button-secondary-hover: var(--grey-90);
  --color-button-secondary-active: var(--grey-80);

  --navbar-height: 11.11vh;
  --navbar-margin-top: 10.6vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'Glysa';
  src: url('./fonts/Glysa.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LexendDeca';
  src: url('./fonts/LexendDeca-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

button {
  border: 0;
}